{% extends "base.html" %} 

{% block main %}       
<main id="main" class="hfeed">
<div id="main-login">                                                                         
    <div id="main-login-inner">                                                               
        <form action="/auth/login" method="POST">       
			{% raw xsrf_form_html() %}
            <div class="login-group">                                                         
                <label id="login_user">用户名</label><span></span><input type="text" id="username" name="username" />        
            </div>                                                                            
            <div class="login-group">                                                         
                <label id="login_pwd">密码 </label><span></span><input type="password" id="password" name="password" />    
            </div>
		
		{% if status %}
			{% if int(status) == 1 %}
			<div class="login-group">
			{# username does not exist #}
				<span style="color:red;">用户名不存在</span>
			</div>
			{% end %}

			{% if int(status) == 2 %}
			<div class="login-group">
			{# password incorrect #}
				<span style="color:red;">密码错误</span>
			</div>
			{% end %}
		{% end %}

            <div class="login-submit">                                                        
                <button type="submit">登录</button>                                           
            </div>                                                                            
        </form>                                                                               
    </div>                                                                                    
</div>              
</main>
{% end %}                                                                               
