{% extends "base.html" %}

{% block main %}
<main id="main" class="hfeed">
<div id="main-login">
	<div id="main-login-inner">
		<form action="/auth/register" method="POST">
			{% raw xsrf_form_html() %}
			<div class="login-group">
				<label class="">新用户名</label><div class="error">*</div>
				<span></span>
				<input type="text" id="username" name="username" />
			</div>
			<div class="login-group">
				<label class="">密码</label><div class="error">*</div>
				<span></span>
				<input type="password" id="password" name="password" />
			</div>
			<div class="login-group">
				<label class="">确认密码</label><div class=" error">*</div>
				<span></span>
				<input type="password" id="recheckPassword" name="recheckPassword" />
			</div>
			<div class="login-group">
				<label class="">邮箱</label><div class="error">*</div>
				<span></span>
				<input type="mail" id="email" name="email" />
			</div>

		{% if status %}
			{% if int(status) == 3 %}
			<div class="login-group">
			{# username already exists#}
				<span style="color:red">用户名已经存在</span>
			</div>
			{% end %}
		{% end %}

			<div class="login-submit">
				<button type="submit">注册</button>
			</div>
		</form>
	</div>
</div>
</main>
{% end %}
